h1   {
    font-size: 54px;
    text-align: center;
    color: white;
    /*font-family: 'Nunito', SansSerif;*/
}
h2 {
    font-size: 18px;
    text-align: center;
    color: white;
}

h3 {
    font-size: 14px;
    text-align: center;
    color: white;
}

p {
    font-size: 14px;
    text-align: center;
    color: white;
}

img {
    display: block;
    margin: auto;
    float: top;
    max-width: 100%;
    height: auto;
    border-radius: 100%;
    padding: 1px;
}

nav {
    text-align: center;
    text-decoration: none;
    font-family: sans-serif;
    padding: 20px 0 20px 0 ;
    /*background-color: black;*/
}

ul {
    text-underline: none;
}

address {
    text-align: center;
    /*background-color: white;*/
    padding: 10px;
    color: white;
}

ul {
    display: inline;
    list-style-type: none;
    padding-right: 20px;
}

footer {
    text-align: center;
    font-size: 12px;
    color: white;
}

div {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    padding: 8px;
}

a {
    color: white;
}

html {
    font-family: 'Nunito', "SansSerif";
}
body {
    background-image: url("../images/footer_lodyas.png");
}

body {margin:0;}

body {
    background-image: url("../images/footer_lodyas.png");
}

body {margin:0;}
.topnav {
    overflow: hidden;
    background-color: #333;
}
.topnav a {
    float: top;
    color: white;
    text-align: center;
    padding: 14px;
    margin: 14px;
    text-decoration: none;
    font-size: 17px;
}

