h1   {
    font-size: 54px;
    text-align: center;


}
h2 {
    font-size: 16px;
    text-align: center;
}

h3 {
    font-size: 14px;
    text-align: center;
}

img {
    display: block;
    margin: auto;
    float: top;
    max-width: 100%;
    height: auto;
}

/*nav {*/
    /*text-align: center;*/
    /*text-underline: none;*/
    /*font-family: sans-serif;*/
/*}*/

ul {
    text-underline: none;
}

div {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
img {
    padding: 20px;
}

p {
    text-align: center;
}
html {
    font-family: 'Nunito',"Sanserif";
}
body {
    background-image: url("../images/footer_lodyas.png");
}

body {margin:0;}
.topnav {
    overflow: hidden;
    background-color: #333;
}
.topnav a {
    float: top;
    color: white;
    text-align: center;
    padding: 14px;
    margin: 14px;
    text-decoration: none;
    font-size: 17px;
}
